---
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";
import serialize from "../../scripts/htmlConverter";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/about/about.css";
import "../styles/global.css";

const apiBaseUrl = import.meta.env.API_BASE_URL;

const data =  await fetch(`${apiBaseUrl}/api/globals/about/`).then((res) => res.json()); 
const name = await fetch(`${apiBaseUrl}/api/globals/homepage/`).then((res) => res.json()).then((data) => data.name);
const heroImageUrl = data.aboutHeroPhoto ?`url(${apiBaseUrl}${data.aboutHeroPhoto.url})` :'url()'; 
---
<style define:vars={{heroImageUrl}}>
  .parallax {
    background-image: var(--heroImageUrl);
  }
</style>

<html lang="en">
  <head>
    <SEO
      title="Recovery Fitness"
      titleTemplate="About"
      description="Sam is a highly dedicated personal trainer, driven by a passion for helping clients achieve a healthier lifestyle. He possesses a wealth of knowledge that caters to both beginners and seasoned gym-goers alike. Sam specializes in strength and conditioning, weight loss, and overall fitness maintenance. With a degree in Exercise Sport Science, he crafts professionally tailored plans that ensure his clients’ success. His approach emphasizes personalized, goal-oriented training, ensuring that every client can elevate their potential and transform their aspirations into tangible results. Elevate Your Potential with Sam: Where Goals Become Gains!"
    />

    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <ViewTransitions />
  </head>
  <body>
    <Navigation id="navbar-index" />
    <div id="img-gallery">
      <div class="parallax"></div>
      <h1>ABOUT {name}</h1>
    </div>
    <div id="bio">
      <h1>OFFICIAL BIO</h1>
      <div id="bio-container">
        <div id="bio-desc">
          <p set:html={serialize(data.aboutContent)}/>
        </div>
        <div id="bio-quali">
          <div id="quali">
            <h2>Qualifications</h2>
            <ul>
              {
                data.qualifications?.map((qualification: any) => (
                  <li set:text={qualification.title}/>
                ))  
              }
            </ul>
          </div>
          <div id="quali">
            <h2>Specialisation</h2>
            <ul>
              {
                data.specialisations?.map((specialisation: any) => (
                  <li set:text={specialisation.title}/>
                ))  
              }
            </ul> 
          </div>
        </div>
      </div>
    </div>     
    <Footer></Footer>
  </body>
</html>