---
import serialize from "../../../scripts/htmlConverter";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/about/about.css";
import "../styles/global.css";

const data =  await fetch("http://localhost:3000/api/globals/about/").then((res) => res.json()); 
const name = await fetch("http://localhost:3000/api/globals/homepage/").then((res) => res.json()).then((data) => data.name);

const heroImage = ''; 
---
<style define:vars={{heroImage}}>
  .parallax {
    background-image: url(heroImage);
  }
</style>


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>About</title>
  </head>
  <body>
    <Navigation id="navbar-index"/>
    <div id="img-gallery">
      <div class="parallax"></div>
      <h1>ABOUT {name}</h1>
    </div>
    <div id="bio">
      <h1>OFFICIAL BIO</h1>
      <div id="bio-container">
        <div id="bio-desc">
          <p set:html={serialize(data.aboutContent)}/>
        </div>
        <div id="bio-quali">
          <div id="quali">
            <h2>Qualifications</h2>
            <ul>
              {
                data.qualifications?.map((qualification) => (
                  <li set:text={qualification.title}/>
                ))  
              }
            </ul>
          </div>
          <div id="quali">
            <h2>Specialisation</h2>
            <ul>
              {
                data.specialisations?.map((specialisation) => (
                  <li set:text={specialisation.title}/>
                ))  
              }
            </ul> 
          </div>
          <div id="quali">
            <h2>Focus Area</h2>
            <ul>
              {
                data.focusAreas?.map((focusArea) => (
                  <li set:text={focusArea.title}/>
                ))  
              }
            </ul>
          </div>
        </div>
      </div>
    </div>     
    <Footer></Footer>
  </body>
</html>