---
import serialize from "../../../scripts/htmlConverter";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import "../styles/training_options/training_option.css";

const data = await fetch("http://localhost:3000/api/globals/trainingOptions/").then((res) => res.json());     
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>About</title>
  </head>
  <body>
    <div>
      <Navigation></Navigation>
    </div>
    <div id="title">
      <h1>MY TRAINING OPTIONS</h1>
    </div>
    {
      data.trainingOptions?.map((trainingOption, index) => (
        index % 2 === 0 ?(
        <div id="training_option1">
          <img src={`http://localhost:3000${trainingOption.image.url}`} />
          <div id="text-content">
            <h2>{trainingOption.title}</h2>
            <p set:html={serialize(trainingOption.description)}/>
           
          </div>
        </div>
        ) : (
        <div id="training_option1">
          <div id="text-content">
            <h2>{trainingOption.title}</h2>
            <p set:html={serialize(trainingOption.description)}/>  
          </div>
          <img src={`http://localhost:3000${trainingOption.image.url}`} />
        </div>
        )
        )
      ) 
    }
    <Footer></Footer>
  </body>
</html>